body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 5px 100px;
}

.right_links {
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding-left: 0px;

}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px 100px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero button {
    flex-grow: 0;
    background-color: #3b83f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 35px;
    border-radius: 8px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px 0px;
}

.hero_image {
    background: gray;
    height: 300px;
    width: 500px;
    flex-shrink: 0;
}